@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './font.css';

*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  line-height: 100%;
}

::-webkit-scrollbar{
  display: none;
}

:root{

  /*page margin*/
  --margin : 10vw;

  /*shadows for cards*/
  --shadow : 0 40px 60px #0E77FF26;
  --shadow-l : 0 20px 40px #0E77FF26;
}

@media screen and (min-width:1470px) {
  
  :root{
    --margin : calc( (100vw - 1270px) / 2 );
  }
}

a{
  line-height: 100%;
}